{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>TweetSets</h1>
            <h3>Twitter datasets for research and archiving.</h3>
            <h4><ul>
                <li>Create your own Twitter dataset from existing datasets.</li>
                <li>Conforms with Twitter policies.</li>
            </ul>
            </h4>
            <br />
            <div class="row">
                <div class="col-xs-2">
            <a class="btn btn-primary btn-lg" href="{{ url_for('dataset_list') }}" role="button">Get started</a>
                    </div>

            {% if prev_datasets %}
                <div class="col-md-1">
                    <div class="dropdown">
                        <button class="btn btn-default" type="button" id="prevDatasetDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Previous datasets
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="prevDatasetDropdown">
                            {% for prev_dataset in prev_datasets %}
                                <li><a href="{{ url_for('dataset', dataset_id=prev_dataset['dataset_id']) }}">{{ prev_dataset['dataset_name'] }} ({{ prev_dataset['create_date'] }})</a></li>
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                            <li><a id="clearPrevDatasets" href="#">Clear previous datasets</a></li>
                        </ul>
                    </div>
                </div>
                <script>
                    $('#clearPrevDatasets').click(function(e) {
                        e.preventDefault();
                        Cookies.remove('prev_datasets');
                        $('#prevDatasetDropdown').addClass('hidden');
                    });
                </script>
            {% endif %}

            </div>
            <br />
            <p>{{ tweet_count | nf }} tweets available.</p>
        </div>
        <div class="well">
            <h4><em>TweetSets is intended for academic purposes only. Users are encouraged to follow all relevant Twitter policies and
                consider ethics and privacy in research and publication with Twitter data.</em></h4>
        </div>

        <h5>Steps for creating a dataset:</h5>
        <ol>
            <li>Select source dataset(s). Source datasets have been previously collected.</li>
            <li>Limit the dataset by querying on keywords, hashtags, and other parameters. Repeat until you've created
                the desired dataset.</li>
            <li>Create the dataset. This freezes the dataset parameters.</li>
            <li>Generate and download dataset derivatives such as the list of tweet ids, mention nodes/edges (e.g., for Gephi).</li>
        </ol>
        <p>See <a href="{{ url_for('help') }}">Help</a> for step-by-step instructions.</p>
        <br />
        <h5>Important information:</h5>
        <ul>
            {% if not is_local_mode %}
                <li><em>You cannot view or download the text of tweets.</em></li>
            {% endif %}
            <li>Keep track of the URLs of your datasets. A record of your datasets are stored in a cookie in your browser, but
                no record of your datasets is stored on the server.</li>
            <li>Generating dataset derivates may take a while.</li>
            <li>Datasets may change if new tweets are added to the source datasets.</li>
        </ul>
        <br />
        <h5>About sharing Twitter datasets for research and archiving:</h5>
        <p>
        Twitter policies do not allow publicly posting or sharing the text of tweets retrieved from the Twitter API.
        However, they do allow the sharing of tweet ids. Given a tweet id, the text of tweets can be retrieved from
        the Twitter API using a tool such a <a href="https://github.com/DocNow/hydrator">DocNow's Hydrator</a>. Note that if a tweet has been deleted
        or protected, it cannot be retrieved from the Twitter API, so some tweets from the dataset may be lost.
        </p>
    </div>
</div>
{% endblock %}
