{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>Citing TweetSets and datasets</h1>
        <br />
        <h2>Citing TweetSets</h2>
        <p>The recommended citation for TweetSets (i.e., the software) is:</p>
        <pre>Justin Littman. (2018). TweetSets. Zenodo. https://doi.org/10.5281/zenodo.1289426</pre>
        <p>For more guidance on citing TweetSets, see <a href="https://zenodo.org/record/1289427">TweetSets in Zenodo.</a></p>
        <h2>Citing a source dataset</h2>
        <p>Datasets that have been publicly released, e.g., in a data repository, will have a public link. Refer to the public version for guidance on citing.</p>
        <p>The public link is available in the dataset details on the <a href="{{ url_for('dataset_list') }}">dataset list page</a> or on the source dataset tab for your dataset.</p>
    </div>
</div>
{% endblock %}