{% extends "base.html" %}
{% block css %}
<style>
    img {
        border:2px solid #eee;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h1>Step-by-step guide to TweetSets</h1>
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">Step 1: Select a source dataset and click Select.</div>
            <div class="panel-body">
                <img src="{{ url_for('static', filename='images/help/select_source_dataset.png') }}" alt="List of
                 source datasets with an arrow pointing to the radio button in front of a selected dataset."/>
                <p>Tip: Click on a dataset name to get more information.</p>
                <img src="{{ url_for('static', filename='images/help/source_dataset_info.png') }}" alt="Panel with arrow pointing to 
                  source dataset name and metadata displayed below." />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">Step 2: Limit the dataset by entering keywords, hashtags, and other criteria and then click Preview.></div>
            <div class="panel-body">
                <img src="{{ url_for('static', filename='images/help/limit_dataset.png') }}" alt="Dataset parameters / action tab selected, 
                  with term typed in the Contains all form field."/>
                <p>Tip: For stats on your dataset, see the Dataset statistics tab.</p>
                <img src="{{ url_for('static', filename='images/help/dataset_statistics.png') }}" alt="Dataset statistics tab selected
                  with example statistics displayed about number of tweets in the dataset." />
                <p>Tip: To view some sample tweets, see the Sample tweets tab.</p>
                <img src="{{ url_for('static', filename='images/help/sample_tweets.png') }}" alt='Sample tweets tab selected with 
                  tweet by Michelle Obama using the hashtag "#WomensMarch" displaying.' />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">Step 3: Click Create dataset.</div>
            <div class="panel-body">
                <p>This freezes the dataset parameters. You will receive an email when the dataset files have been created.</p>
                <p>Tip: Your dataset now has a URL which you can return to later.</p>
                <img src="{{ url_for('static', filename='images/help/dataset_link.png') }}" />
                <p>Tip: You can find your datasets under Previous datasets.</p>
                <img src="{{ url_for('static', filename='images/help/previous_datasets.png') }}" />
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">Step 4: From the Dataset exports tab, generate and download dataset exports.</div>
            <div class="panel-body">
                <img src="{{ url_for('static', filename='images/help/derivative_actions.png') }}" />
                <p>Tip: Be patient. These make take a while.</p>
                <img src="{{ url_for('static', filename='images/help/progress.png') }}" />
                <p>Ready for download.</p>
                <img src="{{ url_for('static', filename='images/help/derivative_files.png') }}" />
            </div>
        </div>
    </div>
</div>
{% endblock %}